{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if user.is_authenticated %}
    {{ user }}
  {% else %}
    Login - Cadastro
  {% endif %}
{% endblock %}

{% block content %}

  <div class="row">
    {% if not user.is_authenticated %}
      <div class="col-lg">

        <h1>Login</h1>
        <form action="" method="POST">
          {% csrf_token %}
            {{ loginform|crispy }}
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Logar</button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-lg">

        <h1>
          CADASTRO
        </h1>
        <form action="" method="POST">
          {% csrf_token %}
          {{ userform|crispy }}
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block btn-lg">
                Registrar
              </button>
            </div>
          </div>
        </form>
        
      </div>
    {% else %}
      <div class="col-lg">

        <h1>
          ATUALIZAR CONTA
        </h1>
        <form action="" method="POST">
          {% csrf_token %}
          {{ userform|crispy }}
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block btn-lg">
                Atualizar
              </button>
            </div>
          </div>
        </form>
        
      </div>
    {% endif %}
  </div>

{% endblock %}