<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    {% include 'partials/_head.html' %}
    <title>{% block title %}{% endblock %}</title>
    <style>
      .pagination {
        justify-content: center;
        margin-top: 1em;
      }
    </style>
  </head>

  <body>
    {% include 'partials/_nav.html' %}

    <main class="container mt-4 mb-4">
      {% block content %}{% endblock %}
      {% include 'partials/_pagination.html' %}
    </main>

    {% include 'partials/_footer.html' %}
    {% include 'partials/_foot.html' %}
  </body>
</html>