<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    {% include 'partials/_head.html' %}
    <title>{% block title %}{% endblock %}</title>
    <style>
      .pagination {
        justify-content: center;
        margin-top: 1em;
      }

      .action {
        text-align: center;
      }

      .cash {
        text-align: end;
      }

      img {
        border: 1px solid lightgray;
      }
    </style>
  </head>

  <body>
    {% include 'partials/_nav.html' %}
    
    <main class="container mt-4 mb-4">
      {% include 'partials/_messages.html' %}
      {% block content %}{% endblock %}
      {% include 'partials/_pagination.html' %}
    </main>

    {% include 'partials/_footer.html' %}
    {% include 'partials/_foot.html' %}
  </body>
</html>