{% extends 'base.html' %}
{% load orl_filters %}

{% block title %}
  Detalhe do {{ purchase }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col">
        <h3>Pedido N. {{ purchase.id }}</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4">{{ purchase.id }}</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">{{ purchase.total|cash_filter }}</div>

            <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
            <div class="col-lg-4">{{ purchase.quantity_items }}</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">{{ purchase.get_status_display }}</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
          {% include 'partials/_order.html' %}
        </div>

    </div>
  </div>
  {% if purchase.status == 'C' %}
    <div class="row mt-4">
      <div class="col">
          <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
      </div>
    </div>
  {% endif %}
{% endblock %}