{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <p>Para o desenvolvedor: adicione seu método de pagamento preferido.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <h3>Pedido N. 5</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4">5</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">R$ 19,90</div>

            <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
            <div class="col-lg-4">1</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">Criado</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
          {% include 'partials/_cart.html' %}
        </div>


        <div class="row mt-4">
            <div class="col">
                <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
            </div>
        </div>


    </div>
  </div>

{% endblock %}
