{% extends 'base.html' %}
{% load orl_filters %}

{% block title %}Carrinho{% endblock %}


{% block content %}

  {% if request.session.cart %}

    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <h1>Carrinho</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">

            <thead>
              <tr>
                <th>Produto</th>
                <th>Nome</th>
                <th class="cash">Quantidade</th>
                <th class="cash">Variação</th>
                <th class="cash">Total</th>
                <th class="action">Ações</th>
              </tr>
            </thead>

            <tbody>
              {% for item in cart.values %}
                <tr>

                  {% if item.image %}
                    
                      <td>
                        <a href="{% url 'produto:detalhe' item.slug %}">
                          <img src="{{ item.image }}" alt="{{ item.name }}" class="cart-img">
                        </a>
                      </td>

                  {% else %}
                    
                      <td>
                        <a href="{% url 'produto:detalhe' item.slug %}">
                          <img src="{{ no_image }}" alt="{{ item.name }}" class="cart-img">
                        </a>
                      </td>

                  {% endif %}
                  
                  <td><a href="{% url 'produto:detalhe' item.slug %}">{{ item.product_name }}</a></td>
                  
                  {% if not item.promotional_price %}

                    <td class='cash'>
                      {{ item.quantity }}x de {{ item.price|cash_filter }}
                    </td>
                    <td class='cash'>{{ item.variation_name }}</td>
                    <td class='cash'>{{ item.price_total|cash_filter }}</td>

                  {% else %}

                    <td class='cash'>
                      {{ item.quantity }}x de {{ item.promotional_price|cash_filter}}
                    </td>
                    <td class='cash'>{{ item.variation_name }}</td>
                    <td class='cash'>{{ item.promotional_price_total|cash_filter }}</td>

                  {% endif %}
                  

                  <td class="action">
                    <a href="{% url 'produto:remover' item.variation_id %}" class="btn btn-danger">Remover</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class='mt-5 mb-3' style="text-align: end;">Total: {{ request.session.cart|sum_total|cash_filter }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3" style='text-align: center;'>
          <a href="" class="btn btn-success">Finalizar Compra</a>
        </div>
      </div>

    </div>

  {% else %}

    <div class="row mt-3">
      <div class="col">
        <h3>Carrinho de compras</h3>
        <h1 class="lead">Carrinho está vazio!</h1>
      </div>
    </div>

  {% endif %}

{% endblock %}