{% extends 'base.html' %}
{% load orl_filters %}

{% block title %}Carrinho{% endblock %}


{% block content %}

  {% if request.session.cart %}

    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <h1>Carrinho</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          {% include 'partials/_cart.html' %}

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class='mt-5 mb-3' style="text-align: end;">Total: {{ request.session.cart|sum_total|cash_filter }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3" style='text-align: center;'>
          <a href="" class="btn btn-success">Finalizar Compra</a>
        </div>
      </div>

    </div>

  {% else %}

    <div class="row mt-3">
      <div class="col">
        <h3>Carrinho de compras</h3>
        <h1 class="lead">Carrinho está vazio!</h1>
      </div>
    </div>

  {% endif %}

{% endblock %}